#secondary-content .block-block-content p a:link,
#secondary-content .block-block-content p a:visited {
  display: block;
}

.spotbox .spotbox-image img,
.pane-block img {
  display: inline;
}

.player-info .profile-image img {
  display: inline-block;
}
