#secondary-content .block-block-content p a:link,
#secondary-content .block-block-content p a:visited {
  display: inline-block;
}

.spotbox .spotbox-image img,
.pane-block img {
  display: inline;
}

.spotbox .spotbox-image a:link,
.spotbox .spotbox-image a:visited {
  border: none;
  text-decoration: none;
}

.player-info .profile-image img,
img.imagecache-profile_spotbox {
  display: inline-block;
}
