body #secondary-content {
  background: #e9ebec url(/sites/all/themes/u21dk2011/images/back-secondary-content.png) center top repeat-y;
}

.top-slideshow .views_slideshow_singleframe_teaser_section,
.top-slideshow .views_slideshow_singleframe_slide,
.top-slideshow .views_slideshow_singleframe_slide .views-row {
  width: 620px !important;
  height: 330px !important;
}
