#panels-dnd-main {
  width: 100%;
  float: left;
}

#panels-dnd-main .panel-col-top {
  clear: both;
  margin-bottom: 6px;
  padding: 3px;
}

#panels-dnd-main .panel-col-left {
  float: left;
  width: 24%;
  padding: 3px;
}

#panels-dnd-main .panel-col-center {
  float: left;
  width: 48%;
  padding: 3px;
}

#panels-dnd-main .panel-col-right {
  float: right;
  width: 24%;
  padding: 3px;
}

#panels-dnd-main .panel-col-lowleft {
  clear: left;
  float: left;
  width: 65%;
  padding: 3px;
}

#panels-dnd-main .panel-col-lowright {
  float: right;
  width: 32%;
  padding: 3px;
}
