
/* Main content */

.pane-taxonomy-links .pane-content h2,
.pane-slug-links .pane-content h2,
.pane-taxonomy-links-context .pane-content h2 {
  display: none;
}

.pane-taxonomy-links h2,
.pane-slug-links h2 {
  margin-top: 0;
}

.pane-taxonomy-links ul,
.pane-slug-links ul,
.pane-taxonomy-links-context ul,
.pane-type-links ul {
  margin-left: 20px;
}

.menu-hover {
  display: none;
}

.panel-col-left {
  clear: left;
}

none {
  display: none !important;
}

a:link object,
a:visited object {
  cursor: pointer;
}