/* ----- / layouts ------ */

body {
  background: #eff1f3 url(../images/back-content.png) center top repeat-y;
} 

body.environment-indicator-adjust.environment-indicator-left.admin-expanded.admin-vertical.admin-nw, body.environment-indicator-adjust.environment-indicator-left.admin-expanded.admin-vertical.admin-sw,
body.environment-indicator-adjust.environment-indicator-left {
  margin: 0 auto !important;
}

#wrapper {
  background: transparent url(../images/body-back-1680.jpg) center top no-repeat;
  overflow: hidden;
}

#secondary-content {
  background: #e9ebec url(../images/back-secondary-content.png) center top repeat-y;
  background-image: url(../images/back-secondary-content.png), url(../images/back-secondary-content-pattern.jpg);
  background-repeat: repeat-y, no-repeat;
  background-position: center top;
  overflow: hidden;
  padding-top: 30px;
  position: relative;
  z-index: 10;
}

.clear {
  clear: both;
}

img {
  display: block;
}

table img {
  display: inline;
}

/* ======================================== */
/* !MESSAGES                                */
/* ======================================== */

div.messages {
  margin: 20px 10px;
  padding: 15px 7px;
  color: #668877;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  background: #ECF8F4;
  border: 6px solid #fff;
}

.messages.error {
  border-color: #FFF8F4;
  background: #FFE4E0;
  color: #996655;
}

div.messages ul {
  margin-left: 20px;
}



/* ======================================== */
/* !HEADER                                  */
/* ======================================== */

#header {
  margin-top: 14px;
  height: 185px;
  padding: 0 10px;
  width: 940px;
}


/* !----- / Branding elementer ----- */

#site-logo {
  float: left;
  border: none;
  margin-bottom: 0;
}

#tournament-logo {
  margin: 36px 0 0 80px;
  float: left;
}

#tournament-date {
  float: right;
  margin-top: 36px;
  margin-right: -10px;
}

/* ======================================== */
/* !BREADCRUMB                              */
/* ======================================== */

.breadcrumb {
  font-size: 85%;
  padding: 0 20px 5px;
}

/* ======================================== */
/* !CONTENT                                 */
/* ======================================== */

#content {
  margin-top: 10px;
}

.front #content {
  margin-top: 20px;
}

#main-content {
  padding-bottom: 30px;
}

#content>.tabs {
  clear: both;
}

#page-title {
  height: 52px;
  padding: 0 8px;
  width: 924px
}

.pane-page-title {
  padding-top: 20px;
  clear: left;
}

.page-node .panel-col-top {
  padding-bottom: 0;
}

.panel-col-top,
.node-type-region .panel-col-top {
  padding-bottom: 20px;
}

/* !----- / Region header ----- */
#region-title-menu {
  padding: 0 8px;
}

#region-title-menu h1 {
  display: inline-block;
  width: 300px;
}

#region-title-menu>div {
  display: inline-block;
  width: 500px;
}


/* !----- / Teaser + date ----- */
.page-node .panel-col-left .field-teaser-value {
  font-size: 20px;
  line-height: 25px;
  padding: 0 8px;
  margin-bottom: 26px;
}

.page-node .panel-col-left .view-News .field-teaser-value {
  background: transparent url(../images/back-groove.png) left bottom repeat-x;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.field-teaser-value strong {
  font-weight: normal;
}

.page-node .view-events .field-date-value {
  padding: 10px 8px 0;
  background: transparent url(../images/back-groove.png) left top repeat-x;
}

.page-node .view-events .address {
  padding: 0 8px 10px;
  background: transparent url(../images/back-groove.png) left bottom repeat-x;
  margin-bottom: 20px;  
}

.view-News .created {
  padding: 6px 8px 8px;
  background: transparent url(../images/back-groove.png) left bottom repeat-x;
  margin-bottom: 20px;
}

#calendar-icon {
  background: url(../images/Calendar-alt-48x48.png) 50% 50% no-repeat;
  float:left;
  height:40px;
  margin-right:12px;
  margin-top: -3px;
  width:40px;
}


/* !----- / Content formatting ----- */
.view-static-pages .field-content-value,
#main-content .node-webform {
 padding: 0 8px; 
}

.view-News .field-content-value,
.view-events .field-content-value,
.view-News .field-related,
.view-event .field-related {
  width: 444px;
  padding: 0 8px;
}

.field-content-value img {
  margin: 0 -8px;
  border: 8px #fff solid;
  max-width: 444px;
  height: auto;
}

/* !----- / Title image ----- */
.field-titleimage-imceimage-path,
.title-image {
  padding: 7px;
  background: #fff;
  border: 1px #ddd solid;
  margin-bottom: 15px;
}



.list-event-list .title-image,
.pane-field-profilephoto .title-image {
  margin-left: -8px;
  margin-right: -8px;
}

.field-titleimage-imceimage-path img,
.title-image img {
  display: block;
  max-width: 604px;
  height: auto;
}

.field-profilephoto {
  float: left;
  margin-right: 8px;
  margin-bottom: 3px;
  margin-top: 3px;
}


.panel-col-center {
  padding-bottom: 16px;
}

/* ======================================== */
/* !WEBFORMS                                */
/* ======================================== */

.node-webform .meta {
  display: none;
}

.node-webform .webform-client-form {
  margin-top: 16px;
}

.node-webform label {
  margin-bottom: 4px;
}

.node-webform .form-item {
  margin-top: 0;
}

.node-webform .form-item-textfield label,
.node-webform .form-item-file label {
  float: left;
  width: 110px;
  text-align: right;
  padding-right: 10px;
}

.node-webform .form-item-file {
  margin: 16px 0;
  padding: 8px 0;
  border: 1px dotted #ddd;
  border-width: 1px 0;
}

.node-webform .form-item-textfield input {
  width: 240px;
}

.node-webform .form-item-textfield input[size="30"] {
  width: 200px;
}

.node-webform .form-item-checkboxes .form-checkboxes,
.node-webform .form-item-radios .form-radios {
  margin-left: 10px;
}

.node-webform .form-checkboxes, 
.node-webform .form-radios {
  margin-top: 0;}

.webform-component {
  margin-bottom: 8px;
}

.node-webform legend {
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

.node-webform fieldset {
  border-top: 1px solid #ccc;
  margin-bottom: 16px;
  padding-top: 16px;
  position: relative;
}

.node-webform legend span {
  display: block;
  width: 444px;
  border-bottom: 1px solid #ccc;
}

.node-webform .description {
  margin-bottom: 1em;
  font-size: 13px;
}

/* ======================================== */
/* !SIDEBAR                                 */
/* ======================================== */

.pane-page-content,
.pane-maps,
#events-practical-information,
.panel-col-right .panel-pane {
  margin-bottom: 28px;
  background: transparent url(../images/back-groove.png) left top repeat-x;
  padding-top: 12px;
}

/* Remove styling from banner ads */
.panel-col-right .pane-block-15,
.panel-col-right .pane-block-29 {
  padding-top: 0;
  background: none;
}

.pane-page-content .pane-content,
#events-practical-information {
  padding-left: 8px;
  padding-right: 8px;
}

.pane-page-content .pane-content>h2:first-child,
.pane-page-content .pane-content>h3:first-child,
#events-practical-information>h2:first-child,
.panel-col-right .panel-pane>h2:first-child {
  margin-top: 0;
  padding-bottom: 8px;
}

#events-practical-information tr td:first-child {
  line-height:18px;
  padding-bottom:4px;
  width:80px;
}


#news-related-stories h2 {
  padding: 0 8px 8px;  
}

#news-related-stories .news-item {
  list-style: none;
  padding: 0 8px;
}

#news-related-stories a.active {
  color: 
}

.panel-col-right ul.links li {
  display: list-item;
  list-style: square outside none;
  padding: 0;
}



/* ======================================== */
/* !TOP NEWS                                */
/* ======================================== */

.top-slideshow {
  position: relative;
  width: 620px;
  height: 330px;
  margin-bottom: 20px;
}


.top-slideshow .title,
.top-slideshow .view-node,
.top-slideshow .field-date-value,
.top-slideshow .address {
  background: url(../images/back-black-50pct.png) left top repeat;
  background: rgba(0,0,0,0.5);
  z-index: 20;
  position: relative;
}

.top-slideshow .title {
  margin-top: 20px;
  max-width: 480px;
}

.top-slideshow .title a {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 0;
}

.top-slideshow .view-node,
.top-slideshow .field-date-value,
.top-slideshow .address {
  display: inline-block;
  margin: 6px 0 0;
  padding: 2px 16px 4px;
}

.top-slideshow .adr .fn:after {
  content: ', ';
}

.top-slideshow .view-node {
  margin-right: 50%;
}

.top-slideshow .field-titleimage-imceimage-path {
  position: absolute;
  border: none;
  z-index: 10;
  padding: 0;
  width: 620px;
  top: 0;
}

.top-slideshow .field-titleimage-imceimage-path a {
  display: block;
  padding: 0;
  border: none;
}

.top-slideshow .field-titleimage-imceimage-path img {
  max-width: none;
}

.top-slideshow .views_slideshow_main:hover .field-titleimage-imceimage-path img {
  opacity: 0.9;
}

.top-slideshow .views_slideshow_singleframe_slide,
.top-slideshow .views_slideshow_singleframe_teaser_section {
  width: 620px !important;
  height: 330px !important;
}

/* !----- / Next/Prev controls ----- */
.views-slideshow-controls-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: url(../images/back-black-50pct.png) left top repeat;
  background: rgba(0,0,0,0.5);
  min-height: 28px;
}

.grid-4 .views-slideshow-controls-bottom {
  width: 100%;
}

.top-slideshow .views_slideshow_previous {
  position: absolute;
  width: 38px;
  height: 70px;
  bottom: 70px;
  left: -6px;
  background: url(../images/button-slideshow-prev.png) left top no-repeat;
  text-indent: -999em;
}

.top-slideshow .views_slideshow_previous:hover {
  background: url(../images/button-slideshow-prev-hover.png) left top no-repeat;    
}

.top-slideshow .views_slideshow_next {
  position: absolute;
  width: 38px;
  height: 70px;
  bottom: 70px;
  right: -6px;
  background: url(../images/button-slideshow-next.png) left top no-repeat;  
  text-indent: -999em;
}

.top-slideshow .views_slideshow_next:hover {
  background: url(../images/button-slideshow-next-hover.png) left top no-repeat;    
}

.top-slideshow .views_slideshow_next:active,
.top-slideshow .views_slideshow_previous:active,
.top-slideshow .views_slideshow_next:focus,
.top-slideshow .views_slideshow_previous:focus,
.top-slideshow .pager-item a:active,
.top-slideshow .pager-item a:focus {
  outline: none;
  border: 1px dotted #fea92f;
  margin: -1px;
}

/* !----- / Pager ----- */

.views_slideshow_singleframe_pager {
  padding: 8px 16px 2px;
}

.pager-item a {
  background: url(../images/button-pager.png) left top no-repeat;
  width: 12px;
  height: 12px;
  text-indent: -999em;
  display: inline-block;
}

.activeSlide a,
.pager-item a:hover {
  background: url(../images/button-pager-active.png) left top no-repeat;
}

/* !----- / Read more link ----- */
.view-footer {
  float: right;
  position: absolute;
  z-index: 30;
  right: 0;
  bottom: 0;
  padding-right: 16px;
  line-height: 30px;
}

.top-slideshow .view-footer p {
 margin-bottom: 0;
}

/* ======================================== */
/* !NEWS / EVENTS LIST                      */
/* ======================================== */

.list-news-list .views-list>li,
.list-event-list .views-list>li {
  padding: 8px;
  background: transparent url(../images/back-groove.png) left top repeat-x;
  padding-top: 16px;
  margin-top: 2px;
}

.list-news-list .views-list>li>div,
.list-event-list .views-list>li>div {
  clear: left;
}

.list-news-list .views-list>li:first-child,
.list-event-list .views-list>li:first-child {
  padding-top: 8px;
  margin-top: 0;
  background: transparent;
}

.list-news-list .views-list .region-link,
.list-news-list .views-list .post-date,
.list-event-list .views-list .region-link,
.list-event-list .views-list .post-date {
  display: inline-block;
  color: #777;
  padding-bottom: 2px;
  margin-right: 8px;
}

.list-news-list .region-link,
.list-event-list .region-link {
  background: #aaa;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 0 8px;
  margin: 4px 0;

  }

.list-teaser {
  margin-top: 4px;
  font-weight: normal;
}

.list-news-list h2,
.list-event-list h2 {
  margin-bottom: 8px;
}

.list-event-list .location {
  float: left;
} 

/* !----- / External calendar link ----- */
.pane-region-calendar-link {
  padding: 8px;
}

/* ======================================== */
/* !PHOTO GALLERIES                         */
/* ======================================== */

.u21foto-list {
  margin: 0 8px;
}

.ui-tabs .u21foto-list {
  margin: 0;
}

.u21foto-list .foto {
  display: inline-block;
  border: 4px solid #FFFFFF;
  display: inline-block;
  margin: 0 6px 6px -4px;  
}

.u21foto-list .foto:hover {
  border-color: #18396C;
}

.u21foto-tag-list {
  padding: 0 0 0 8px;

}



/* ======================================== */
/* !REGIONAL CAMPAIGNS                      */
/* ======================================== */

.pane-regional-campaign a:link,
.pane-regional-campaign a:visited {
  display: block;
  border-bottom: none;
}

.pane-regional-campaign a:hover,
.pane-regional-campaign a:hover {
  margin: -8px;
  border: 8px solid #fff;
}

.campaign-type-ii .random-regional-campaign {
  float: left;
  width: 300px;
  margin-bottom: 10px;
}

.campaign-type-ii .random-regional-campaign:first-child {
  margin-right: 19px;
}

.campaign-type-i .random-regional-campaign {
  width: 620px;
  margin-bottom: 10px;
}


/* ======================================== */
/* !PAGER                                   */
/* ======================================== */

.pager {
  padding: 8px;
  float: left;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* ======================================== */
/* !FEED ICON                               */
/* ======================================== */

div.feed-icon {
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}


/* ======================================== */
/* !BUTTONS                                 */
/* ======================================== */

.button-pill {
  margin-top: 12px;
}

.button-pill:first-child {
  margin-top: 0;
}

.button-pill a {
  display: inline-block;
  width: 104px;
  height: 34px;
  background: transparent url(../images/button-pill-140px.png) 0 0 no-repeat;
  line-height: 32px;
  padding-left: 36px;
  font-size: 12px;
  font-weight: bold;
  -moz-text-shadow: 0 1px rgba(0,0,0,0.5);
  -webkit-text-shadow: 0 1px rgba(0,0,0,0.5);
  -o-text-shadow: 0 1px rgba(0,0,0,0.5);  
  text-shadow: 0 1px rgba(0,0,0,0.5);
}

.button-pill a:link,
.button-pill a:visited {
  border: none;
  color: #fff;
  margin: 0;
}

.button-pill a:hover,
.button-pill a:active {
  background-position: 0 -34px;
}

.button-right a:link,
.button-right a:visited {
  background-position: 0 -68px;
  padding-left: 20px;
  width: 120px;
}

.button-right a:hover,
.button-right a:active {
  background-position: 0 -102px;
}

/* ======================================== */
/* !SPONSORSTRIP                            */
/* ======================================== */

#sponsorstrip {
  background: #030f43;
  padding: 8px 0 0;
  text-align: center;
  margin-bottom: 11px;
}

#sponsorstrip a,
#sponsorstrip a:link,
#sponsorstrip a:visited,
#sponsorstrip a:hover,
#sponsorstrip a:active {
  display: inline-block;
  padding: 0 1px;
  margin: 0;
  border: none;
}

#sponsorstrip>div {
  padding-bottom: 6px;
}


/* ======================================== */
/* !SECONDARY CONTENT                       */
/* ======================================== */

#secondary-content-inner>div {
  margin-bottom: 20px;
}

#secondary-content-inner #region-bottom {
  margin-bottom: 0;
}



/* ======================================== */
/* !Footer                                  */
/* ======================================== */

#footer, #footer-inner, #footer-regions {
  overflow: hidden;
}

#footer {
  background: #e9ebec url(../images/back-footer-outer-large.jpg) 0 50px repeat-x;
  position: relative;
  z-index: 5;
  margin-top: -30px;
}

#footer-inner {
  background: url(../images/back-footer-inner.jpg) 50% 0% no-repeat;
}

#footer-regions {
  min-height: 186px;
  margin-top: 208px;
  /* background: #0b0100 url(../images/back-footer-outer-large.jpg) left bottom repeat-x; */
}

#footer-regions>li {
  background: transparent url(../images/back-groove.png) left top repeat-x;
}

#footer-regions>li>* {
  padding-left: 8px;
  padding-right: 8px;
}

#disclaimer-inner {
  background: transparent url(../images/back-groove.png) left top repeat-x;
  margin: 0 0 20px 10px;
  width: 935px;
}

#disclaimer p {
  padding: 31px 8px 10px 8px;
}

body.context-editing a.context-block-region, 
body.context-editing a.context-block {
  display: block !important;
}


/* ======================================== */
/* !Profile Overviews                       */
/* ======================================== */

/* ----- / Profile Player Overview ----- */

.page-profile #page-title {
  text-transform: capitalize;
}

.profile-player-overview .view-content {
  overflow-y: hidden;
  float: left;
  width: 138px;
  border-left: 1px solid #eff0f4;
  padding: 8px;
  min-height: 234px;
}

.profile-player-overview:first-child .view-content {
  border: none;
}

.profile-player-overview h3 {
  margin-top: 0;
}

.profile-player-overview ul {
  list-style: square;
  margin-left: 15px;
  font-size: 11px;
}

.profile-player-overview ul li {
  margin-bottom: 2px;
}

/* ----- / Player positions ----- */

.playingfield-wide {
  position: relative;
  background: transparent url(../images/back-playingfield-wide.jpg) left top no-repeat;
  width: 940px;
  height: 608px;
}

.playingfield-wide .player-marker {
  background: transparent url(../images/back-player-position.png) left top no-repeat;
  width: 64px;
  height: 53px;
  display: block;
  list-style: none;
  position: absolute;
  left: 0; /* default value. Overridden by inline styles */
  top: 0; /* ditto */
}

.js .playingfield-wide .player-marker {
  cursor: pointer;
}

.player-shirtname {
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  color: #fff;
  padding-top: 23px;
}

.playingfield-wide .player-info {
  display: none;
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
  position: absolute;
  left: -10px;
  top: 70px;
  z-index: 1000;
}

.playingfield-wide .player-info-inner {
  position: absolute;
  top: -53px;
  left: 40px;
  z-index: 1010;
  width: 61px;
  height: 53px;
  background: transparent url(../images/back-bubble-arrow.png) left top no-repeat;
}

.player-info h4 {
  font-size: 13px;
  margin-bottom: 3px;
}

.player-info p {
  margin-left: 55px;
  margin-bottom: 0;
  font-size: 11px;
}

.player-info .label {
  font-weight: bold;
}

.player-info .profile-image {
  float: left;
  
}

.playingfield-wide .active-bubble {
  outline: none;
  border: 1px dotted #333;
  margin: -1px;
}

.active-bubble .close-button {
  text-indent: -9999em;
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: blue url(../images/icon-button-close.png) left top no-repeat;
  border: none;
}

.active-bubble .close-button:focus {
  outline: none;
  border: 1px dotted #333;
  margin: -1px;
}

.player-info h4 {
  font-size: 13px;
  
}

/* =============================================

   Kandidater til oprydning */

/* !Indhold fra spotbox stylesheetet */
.sms-updates{background:#0f1141 url(../images/banner-620x170-lighter.jpg) left top no-repeat;display:block;height:118px;padding:16px;}.sms-updates h2{color:#fff;font-size:26px;height:26px;line-height:1;margin-top:8px;padding-bottom:16px;}.sms-updates .subscribe{color:#fff;float:left;font-size:26px;line-height:1;width:40%;}.sms-updates .sms-message,.sms-updates .sms-number{color:#fea92f;font-weight:700;}.sms-updates .notice{color:#fff;font-size:13px;padding:0 0 0 50%;}.pane-region-banner{padding-bottom:16px;}

#secondary-content .block-block-content,
#secondary-content .block-views-content {
  background:#fff;
  overflow:hidden;
  padding:0 8px 8px;
  margin: 0 0 20px;
  min-height: 326px;
}

#secondary-content .block-nodespotbox {
  background:#fff;
  overflow:hidden;
  padding:0 0 8px;
}

#secondary-content .block-block-content p {
  margin-bottom: 0;
}

#secondary-content .block-block-content p + p,
#secondary-content .block-block-content p + table,
#secondary-content .block-block-content p + ul,
#secondary-content .block-block-content p + ol {
  margin-top: 0.6em;
}

#secondary-content .block-block-content img {
  display; block;
}

.linked-image a:link,
.linked-image a:visited {
  border: none;
}

#secondary-content .block-block img{display:block;margin:0 -8px;}#secondary-content .block-views li{background:url(../images/back-list-top.png) center 2px no-repeat;padding-bottom:8px;padding-top:8px;}#secondary-content .block-views li.first{background:transparent;padding-top:0;}#region-middle h2,#region-bottom h2{display:none;}

/* !----- / Spotbox style designs ----- */
.panel-col-right .pane-events-panel-pane-8 {
  background:transparent;
  margin:0 0 20px;
  padding:0;
  }
.pane-events-panel-pane-8 .pane-content {
  position:relative;
  background:#fff;
  font-size:12px;
  min-height:267px;
  padding-bottom: 34px;
} 

.pane-events-panel-pane-8 .views-row { 
  padding: 0 8px;
  }
 
  
.pane-events-panel-pane-8 li.last{background:url(../images/back-list-top.png) center 2px no-repeat;padding-top:12px;}.pane-events-panel-pane-8 h3{font-size:13px;margin-top:0;}
.pane-events-panel-pane-8 .location{margin-bottom:2px;}
.pane-events-panel-pane-8 .adr,
.pane-events-panel-pane-8 .adr .locality{font-size:12px;font-style:italic;}
.pane-events-panel-pane-8 .adr .fn:after{content:", ";}

.field-campaing-image-imceimage-path a{display:block;margin-bottom:0;}.field-campaing-image-imceimage-path a:hover{border:8px solid #fff;margin:-8px;}.block ul,#secondary-content .block-block{padding:0;}#secondary-content .block>h2,#secondary-content h2.spotbox,#content .pane-events-panel-pane-8 h2.pane-title{background:url(../images/back-spotbox.png) left top no-repeat;color:#fff;font-size:14px;line-height:17px;margin:0;padding:6px 8px;}#secondary-content .block .post-date,.pane-events-panel-pane-8 .date-display-single,.pane-events-panel-pane-8 .date-display-start,.pane-events-panel-pane-8 .date-display-end,.pane-events-panel-pane-8 .date-display-separator{font-size:12px;font-weight:700;}

#main-content .imagecache-regional_campaign,
#main-content .sverige-banner {
  padding-top: 4px;
  display: inline-block;
}

#main-content .pane-block-15 a,
#main-content .pane-block-17 a {
  border: 0;
}

#main-content .pane-block-15 img {
  display: inline-block;
}

a.imagecache-spotbox-titleimage:link,
a.imagecache-spotbox-titleimage:visited {
  margin: 0 -8px;
  display: block;
  border: none;
  padding: 0;
  margin-bottom: 8px;
}

/* !----- / Content spotboxes ----- */
.panel-col-right div[class*=pane-nodespotbox-] {
  background: transparent;
  margin-top: 0;
  padding: 0;
}

.panel-col-right .view-Spotbox h2 {
  background:url(../images/back-spotbox.png) left top no-repeat;
  color:#fff;
  font-size:14px;
  line-height:17px;
  margin:0;
  padding:6px 8px;
}

.view-Spotbox a.spotbox-blockimage,
.view-Spotbox a.spotbox-blockimage:hover {
  display: block;
  border: none;
  margin-bottom: 0;
}

.view-Spotbox .spotbox-text {
  background: #fff;
  overflow: hidden;
  padding: 8px;
}


/* !----- / Profile spotboxes ----- */

#views_slideshow_singleframe_teaser_section_profile-block_2,
#views_slideshow_singleframe_teaser_section_profile-block_3,
#views_slideshow_singleframe_teaser_section_profile-block_4,
.block-nodespotbox div.spotbox {
  height: 326px !important;
}

#secondary-content .block-views-content .view-id-profile {
  margin: 0 -8px;
}

.view-profile .views_slideshow_singleframe_main p,
.block-nodespotbox .view-profile p {
  padding: 0 8px;
}

.block-nodespotbox .spotbox {
  background: #fff;
}

h2.spotbox {
  width: 284px;
}

h2.spotbox a:link,
h2.spotbox a:visited {
  color: #fff;
  border-color: #fff;
}

.block-views-content .spotbox p,
.block-nodespotbox .spotbox p {
  padding-top: 0.4em;
}

.spotbox p:first-child {
  border-top: none;
}


/* !------ / Countdown spotbox ----- */
.block-countdown {
  margin: 10px;
  padding: 16px;
  background: #19396A;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 120%;
}

.block-countdown h2 {
  margin-top: 0;
  color: #fff;
  font-size: 32px;
  margin-bottom: 8px;
  line-height: 120%;
}


/* !------ / Views ------ */

.views-list {
  list-style: none;
}

.pager li {
  float: left;
  list-style: none;
  margin-right: 8px;
}


/* !----- / Campaigns ----- */
.campaign-type-ii .random-regional-campaign {
  float: left;
  width: 300px;
  margin-bottom: 10px;
}

.campaign-type-ii .random-regional-campaign:first-child {
  margin-right: 19px;
}

.campaign-type-i .random-regional-campaign {
  width: 620px;
  margin-bottom: 10px;
}


#secondary-content .block-block object {
  display:block;
  margin:0 -8px;
}

/* ======================================== */
/* !CONTEXT INLINE EDITOR                   */
/* ======================================== */

/* Hide context inline editor for select regions in the theme - menus included */

#region-secondary-menu .context-block-region,
#region-city-menu .context-block-region,
#region-main-menu .context-block-region {
  display: none !important;
}

/* ======================================== */
/* !FACEBOOK                                */
/* ======================================== */

.view-content .fb-social-like {
  float: right;
  margin: 4px 0 0;
}

/* !----- / Page ----- */
.node-type-static-page .fb-social-like-widget {
  margin: 0 0 0 9px;
}

/* !----- / Event ----- */
.node-type-event .fb-social-like {
  margin: 10px 0 0;
}

/* !----- / Profiles ----- */
.node-type-profile .fb-social-like-widget {
  right: -236px;
  position: absolute;
  top: 58px;
}
