/* ----- / layouts ------ */

body {
  background: #eff1f3 url(../images/back-content.png) center top repeat-y;
} 

#wrapper {
  background: transparent url(../images/body-back-1680.jpg) center top no-repeat;
  overflow: hidden;
}

#secondary-content {
  background: #e9ebec url(../images/back-secondary-content.png) center top repeat-y;
  background-image: url(../images/back-secondary-content.png), url(../images/back-secondary-content-pattern.jpg);
  background-repeat: repeat-y, no-repeat;
  background-position: center top;
  overflow: hidden;
  padding-top: 30px;
}

.clear {
  clear: both;
}

/* ======================================== */
/*  HEADER                                  */
/* ======================================== */

#header {
  margin-top: 14px;
  height: 185px;
  padding: 0 10px;
  width: 940px;
}


/* ----- / Branding elementer ----- */

#site-logo {
  float: left;
  border: none;
  margin-bottom: 0;
}

#tournament-logo {
  margin: 36px 0 0 80px;
  float: left;
}

#tournament-date {
  float: right;
  margin-top: 36px;
  margin-right: -10px;
}


/* ----- / Secondary Menus ----- */

#region-secondary-menu {
  background: transparent url(../images/back-menu-secondary.png) left top repeat;
  background: rgba(148,170,185,0.15);
}

  #region-secondary-menu ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    line-height: 30px;
    overflow: hidden;
  }
  
  #region-secondary-menu ul>li {
    float:right;
    list-style: none;
    padding: 0 10px 0 6px;
  }
  
  #region-secondary-menu a:link,
  #region-secondary-menu a:visited {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
  }
  
  #region-secondary-menu a:hover {
    border-bottom: 1px dotted #fff;
    margin-bottom: -1px;
  }
  
  
/* ----- / Region Menus ----- */

#region-city-menu {
  clear: both;
  overflow: hidden;
  float: right;
  width: 316px;
  margin-top: 9px;
  line-height: 32px;
  background: transparent url(../images/back-menu-region.png) center top no-repeat;
}

  #region-city-menu ul>li {
    float: left;
    width: 79px;
    text-align: center;
    list-style: none;
  }
  
  #region-city-menu a:link,
  #region-city-menu a:visited {
    color: #fff;
    text-decoration: none;
  }
  
  #region-city-menu a:hover {
    border-bottom: 1px dotted #fff;
    margin-bottom: -1px;
  }
  
/* ----- / Main Menus ----- */

#region-main-menu {
  clear: both;
  float: left;
  margin-top: 15px;
}

  #region-main-menu a:link,
  #region-main-menu a:visited {
    color: #fff;
    text-decoration: none;
    border: none;
  }
  
  #region-main-menu li {
    margin-right: 6px;
    display: inline-block;
  }

  #region-main-menu a {
    display: inline-block;
    padding: 3px 10px 5px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
  }
  
  #region-main-menu a.active,
  #region-main-menu a.active-trail {
    background: url(../images/back-menu-main-active.png) left top repeat-x;
    font-weight: bold;
  }

  #region-main-menu a:hover {
    background: url(../images/back-menu-main-hover.png) left top repeat-x;
  }

/* ======================================== */
/*  SUB + REGIONAL MENUS                    */
/* ======================================== */

/* ----- / Submenu ----- */
.pane-menu-tree .pane-content {
  background: transparent url(../images/back-groove.png) left top repeat-x;
  padding-top: 10px;
}

.pane-menu-tree ul {
  padding-left: 6px;
}

.pane-menu-tree li {
  list-style-type: none;
}


.pane-menu-tree li:hover>a {
  background: transparent url(../images/16x16/Checkbox-16x16.png) 0% 50% no-repeat;
}

.pane-menu-tree li a:link,
.pane-menu-tree li a:visited {
  padding-left: 18px;
  border: none;
  margin-bottom: 6px;
  text-decoration: underline;
  display: inline-block;
}

.pane-menu-tree li li {
  padding-left: 8px;
}

.pane-menu-tree li a.active {
  background: transparent url(../images/16x16/Checkbox-16x16.png) 0% 50% no-repeat;
  font-weight: bold;
  color: #444;
}

/* ----- / Regional submenu ----- */
.pane-region-menu ul {

}



/* ======================================== */
/*  CONTENT                                 */
/* ======================================== */

#content {
  margin-top: 20px;
}

#main-content {
  padding-bottom: 30px;
}

#content>.tabs {
  clear: both;
}

#page-title {
  height: 52px;
  padding: 0 8px;
  width: 924px
}

.pane-page-title {
  padding-top: 20px;
  clear: left;
}

/* ----- / Region header ----- */
#region-title-menu {
  padding: 0 8px;
}

#region-title-menu h1 {
  display: inline-block;
  width: 300px;
}

#region-title-menu>div {
  display: inline-block;
  width: 500px;
}


/* ----- / Teaser + date ----- */
.panel-col-left .field-teaser-value {
  font-size: 20px;
  line-height: 25px;
  padding: 0 8px;
  margin-bottom: 26px;
}

.panel-col-left .view-News .field-teaser-value {
  background: transparent url(../images/back-groove.png) left bottom repeat-x;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.field-teaser-value strong {
  font-weight: normal;
}

.view-events .field-date-value {
  padding: 10px 8px 0;
  background: transparent url(../images/back-groove.png) left top repeat-x;
}

.view-events .address {
  padding: 0 8px 10px;
  background: transparent url(../images/back-groove.png) left bottom repeat-x;
  margin-bottom: 20px;  
}

.view-News .created {
  padding: 6px 8px 8px;
  background: transparent url(../images/back-groove.png) left bottom repeat-x;
  margin-bottom: 20px;
}

#calendar-icon {
  background: url(../images/Calendar-alt-48x48.png) 50% 50% no-repeat;
  float:left;
  height:40px;
  margin-right:12px;
  margin-top: -3px;
  width:40px;
}


/* ----- / Content formatting ----- */
.view-static-pages .field-content-value {
 padding: 0 8px; 
}

.view-News .field-content-value,
.view-events .field-content-value {
  width: 444px;
  padding: 0 8px;
}

.field-content-value img {
  margin: 0 -8px;
  border: 8px #fff solid;
}

/* ----- / Title image ----- */
.field-titleimage-imceimage-path {
  padding: 7px;
  background: #fff;
  border: 1px #ddd solid;
  margin-bottom: 15px;
}

.field-titleimage-imceimage-path img {
  display: block;
  max-width: 604px;
  height: auto;
}



/* ======================================== */
/*  SIDEBAR                                 */
/* ======================================== */

.pane-page-content,
.pane-maps,
#events-practical-information {
  margin-bottom: 28px;
  background: transparent url(../images/back-groove.png) left top repeat-x;
  padding-top: 12px;
}

.pane-page-content .pane-content,
#events-practical-information {
  padding-left: 8px;
  padding-right: 8px;
}

.pane-page-content .pane-content>h2:first-child,
.pane-page-content .pane-content>h3:first-child,
#events-practical-information>h2:first-child {
  margin-top: 0;
  padding-bottom: 8px;
}

#events-practical-information tr td:first-child {
  line-height:18px;
  padding-bottom:4px;
  width:80px;
}


#news-related-stories h2 {
  background: transparent url(../images/back-groove.png) left top repeat-x;
  padding: 12px 8px 8px;  
}

#news-related-stories .news-item {
  list-style: none;
  padding: 0 8px;
}

#news-related-stories a.active {
  color: 
}


/* ======================================== */
/*  TOP NEWS                                */
/* ======================================== */

#news-top-news,
#events-top-event {
  position: relative;
  width: 620px;
  height: 330px;
  margin-bottom: 16px;
}


#news-top-news .title,
#events-top-event .title,
#news-top-news .view-node,
#events-top-event .view-node,
#events-top-event .field-date-value,
#events-top-event .address {
  background: url(../images/back-black-50pct.png) left top repeat;
  background: rgba(0,0,0,0.5);
  z-index: 20;
  position: relative;
}

#news-top-news .title,
#events-top-event .title {
  margin-top: 20px;
  max-width: 480px;
}

#news-top-news .title a,
#events-top-event .title a {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 0;
}

#news-top-news .view-node,
#events-top-event .view-node,
#events-top-event .field-date-value,
#events-top-event .address {
  display: inline-block;
  margin: 6px 0 0;
  padding: 2px 16px 4px;
}

#events-top-event .adr .fn:after {
  content: ', ';
}

#events-top-event .view-node {
  margin-right: 50%;
}

#news-top-news .field-titleimage-imceimage-path,
#events-top-event .field-titleimage-imceimage-path {
  position: absolute;
  border: none;
  z-index: 10;
  padding: 0;
  width: 620px;
  top: 0;
}

#news-top-news .field-titleimage-imceimage-path a,
#events-top-event .field-titleimage-imceimage-path a {
  display: block;
  padding: 0;
}

#news-top-news .field-titleimage-imceimage-path img,
#events-top-event .field-titleimage-imceimage-path img {
  max-width: none;
}

#news-top-news .views_slideshow_main:hover .field-titleimage-imceimage-path img,
#events-top-event .views_slideshow_main:hover .field-titleimage-imceimage-path img {
  opacity: 0.9;
}

/* ----- / Next/Prev controls ----- */
#news-top-news .views-slideshow-controls-bottom,
#events-top-event .views-slideshow-controls-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 620px;
  background: url(../images/back-black-50pct.png) left top repeat;
  background: rgba(0,0,0,0.5);
  min-height: 28px;
}

#news-top-news .views_slideshow_previous,
#events-top-event .views_slideshow_previous {
  position: absolute;
  width: 38px;
  height: 70px;
  bottom: 70px;
  left: -6px;
  background: url(../images/button-slideshow-prev.png) left top no-repeat;
  text-indent: -999em;
}

#news-top-news .views_slideshow_previous:hover,
#events-top-event .views_slideshow_previous:hover {
  background: url(../images/button-slideshow-prev-hover.png) left top no-repeat;    
}

#news-top-news .views_slideshow_next,
#events-top-event .views_slideshow_next {
  position: absolute;
  width: 38px;
  height: 70px;
  bottom: 70px;
  right: -6px;
  background: url(../images/button-slideshow-next.png) left top no-repeat;  
  text-indent: -999em;
}

#news-top-news .views_slideshow_next:hover,
#events-top-event .views_slideshow_next:hover {
  background: url(../images/button-slideshow-next-hover.png) left top no-repeat;    
}

#news-top-news .views_slideshow_next:active,
#news-top-news .views_slideshow_previous:active,
#news-top-news .views_slideshow_next:focus,
#news-top-news .views_slideshow_previous:focus,
#news-top-news .pager-item a:active,
#news-top-news .pager-item a:focus,
#events-top-event .views_slideshow_next:active,
#events-top-event .views_slideshow_previous:active,
#events-top-event .views_slideshow_next:focus,
#events-top-event .views_slideshow_previous:focus,
#events-top-event .pager-item a:active,
#events-top-event .pager-item a:focus {
  outline: none;
  border: 1px dotted #fea92f;
  margin: -1px;
}

/* ----- / Pager ----- */

#news-top-news .views_slideshow_singleframe_pager,
#events-top-event .views_slideshow_singleframe_pager {
  padding: 8px 16px 2px;
}

#news-top-news .pager-item a,
#events-top-event .pager-item a {
  background: url(../images/button-pager.png) left top no-repeat;
  width: 12px;
  height: 12px;
  text-indent: -999em;
  display: inline-block;
}

#news-top-news .activeSlide a,
#news-top-news .pager-item a:hover,
#events-top-event .activeSlide a,
#events-top-event .pager-item a:hover {
  background: url(../images/button-pager-active.png) left top no-repeat;
}

/* ----- / Read more link ----- */
#news-top-news .view-footer,
#events-top-event .view-footer {
  float: right;
  position: absolute;
  z-index: 30;
  right: 0;
  bottom: 0;
  padding-right: 16px;
}

/* ----- / Regional slider ----- */
.news-top-region-news {
  border-top: 1px solid transparent;
  margin-top: 19px;
}

/* ======================================== */
/*  NEWS LIST                               */
/* ======================================== */

#news-list .views-list>li {
  padding: 8px 8px 8px 158px;
}

#news-list li h2,
#news-list li h2 a {
}

#news-list .post-date {
  margin-left: -150px;
  float: left;
}

#news-list .region-link {
  background: #aaa;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 0 8px;
  margin: 4px 0;
  }

#news-list .region-link a {

}



/* =============================================

   GAMMELT SLAM */






/* ----- / Events ------ */
.views-list .location {
  float: left;
}

#events-top-event {
  margin-bottom: 20px;
}

.view-events .views-list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

  .view-events .views-list li.last {
    border-bottom: none;
  }


/* ------ / Views ------ */

.views-list {
  list-style: none;
}

.pager li {
  float: left;
  list-style: none;
  margin-right: 8px;
}

/* ----- / Regions ----- */
#region-middle-left>div,
#region-middle-center>div,
#region-middle-right>div,
#footer .region>div {
  border: 3px dashed #666;
  padding: 10px;
}

#footer .region>div {
  margin: 10px 0;
}


/* ----- / Campaigns ----- */
.campaign-type-ii .random-regional-campaign {
  float: left;
  width: 298px;
  border: 1px dashed silver;
  margin-bottom: 10px;
}

.campaign-type-ii .random-regional-campaign:first-child {
  margin-right: 19px;
}

.campaign-type-i .random-regional-campaign {
  width: 618px;
  border: 1px dashed silver;
  margin-bottom: 10px;
}