/* ======================================== */
/*  ACTIVE + HOVER STYLES                   */
/* ======================================== */

.panel-col-top a.active-trail,
.panel-col-left a.active-trail,
.panel-col-left a.active,
.panel-col-right a.active {
  background: url(../images/back-menu-active.png) left top repeat-x;
  font-weight: bold;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  display: inline-block;
  padding: 2px 6px 3px;
  margin: 0;
}

/* Override for regional news listings */
.panel-col-left .region-link a.active, 
.panel-col-right .region-link a.active {
  border-radius: 0;
  background: transparent;
  padding: 2px 0 0;
}

.panel-col-top a.active-trail:link,
.panel-col-left a.active-trail:link,
.panel-col-top a.active-trail:visited,
.panel-col-left a.active:visited,
.panel-col-left a.active:link,
.panel-col-left a.active-trail:visited,
.panel-col-right a.active:link,
.panel-col-right a.active:visited {
  color: #fff;
  border: none;
  text-decoration: none;
}

.panel-col-top li:hover>a {
  background: transparent url(../images/back-menu-hover.png) left top repeat-x;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  display: inline-block;
  padding: 2px 6px 3px;
  border: none;
  margin: 0;
}

.panel-col-top li:hover>a:link,
.panel-col-top li:hover>a:visited {
  color: #fff;
}

.panel-col-left .pane-menu-tree li a:hover,
.panel-col-right li a:hover {
  text-decoration: none;
}

/* ----- / Secondary Menus ----- */

#region-secondary-menu {
  background: transparent url(../images/back-menu-secondary.png) left top repeat;
  background: rgba(148,170,185,0.15);
  min-height: 31px;
}

  #region-secondary-menu ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    line-height: 30px;
    overflow: hidden;
  }
  
  #region-secondary-menu ul>li {
    float:right;
    list-style: none;
    padding: 0 10px 0 6px;
  }
  
  #region-secondary-menu a:link,
  #region-secondary-menu a:visited {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
  }
  
  #region-secondary-menu a:hover {
    border-bottom: 1px dotted #fff;
    margin-bottom: -1px;
  }
  
/* ----- / Add Union Jack icon to specific menu items ----- */

#region-secondary-menu .menu-2083 {
  padding-left: 20px;
  background: transparent url(../images/gb.png) 0% 45% no-repeat;
} 

  
/* ----- / Region Menus ----- */

#region-city-menu {
  clear: both;
  overflow: hidden;
  background: transparent url(../images/back-menu-region.png) 100% 14px no-repeat;
}

#region-city-menu ul {
  float: right;
  margin: 14px 0 0;
  width: 316px;
}

#region-city-menu ul>li {
    float: left;
    line-height: 30px;
    width: 79px;
    text-align: center;
    list-style: none;
  }
  
  #region-city-menu a:link,
  #region-city-menu a:visited {
    color: #fff;
    text-decoration: none;
  }
  
  #region-city-menu a:hover {
    border-bottom: 1px dotted #fff;
    margin-bottom: -1px;
  }
  
/* ----- / Main Menus ----- */

#region-main-menu {
  clear: both;
  float: left;
}

  #region-main-menu a:link,
  #region-main-menu a:visited {
    color: #fff;
    text-decoration: none;
    border: none;
  }

  #region-main-menu ul {
    margin: 18px 0 0;
    width: 940px;
  }
  
  #region-main-menu li {
    margin-right: 6px;
    display: inline;
  }

  #region-main-menu a {
    display: inline-block;
    padding: 3px 10px 5px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
  }
  
  #region-main-menu a.active,
  #region-main-menu a.active-trail {
    background: url(../images/back-menu-main-active.png) left top repeat-x;
    font-weight: bold;
  }

  #region-main-menu a:hover {
    background: url(../images/back-menu-main-hover.png) left top repeat-x;
  }

/* ======================================== */
/*  SUB + REGIONAL MENUS                    */
/* ======================================== */


#main-content #region-title-menu ul {
  padding-top: 4px;
}

#main-content #region-title-menu li {
  display: inline;
  margin-left: 2px;
}

.panel-col-top li a {
  display: inline-block;
  padding: 2px 0px 0;
  margin: 0 6px 3px;
}

/* ----- / Submenu ----- */
.pane-menu-tree .pane-content {
  background: transparent url(../images/back-groove.png) left top repeat-x;
  padding-top: 10px;
}

.pane-menu-tree ul {
  padding-left: 6px;
}

.pane-menu-tree li {
  list-style-type: none;
}


.pane-menu-tree li a:link,
.pane-menu-tree li a:visited {
  padding-left: 8px;
  border: none;
  margin-bottom: 6px;
  text-decoration: underline;
  display: inline-block;
}

.pane-menu-tree li li {
  padding-left: 12px;
}

/* ----- / Regional submenu ----- */
.pane-region-menu ul {
}

/* ----- / News Menu ----- */
.pane-slug-links li a:link,
.pane-slug-links li a:visited,
.pane-taxonomy-links li a:link,
.pane-taxonomy-links li a:visited,
.pane-taxonomy-links-context li a:link,
.pane-taxonomy-links-context li a:visited {
  padding-left: 8px;
  border: none;
  margin-bottom: 6px;
  text-decoration: underline;
  display: inline-block;
}

.pane-taxonomy-links li span {
  display: inline-block;
  padding-bottom: 4px;
}

/* ======================================== */
/*  Tabbed Menus                            */
/* ======================================== */
.page-sitemap .pane-menu-tree ul,
.page-sitemap .pane-menu-tree li a:link, 
.page-sitemap .pane-menu-tree li a:visited,
.page-sitemap .panel-col-top .pane-menu-tree li:hover > a,
.page-sitemap .pane-slug-links li a:link, 
.page-sitemap .pane-slug-links li a:visited {
  padding-left: 0;
}

.page-sitemap .panel-col-top li a,
.page-sitemap .panel-col-top .pane-menu-tree li:hover > a,
.page-sitemap .pane-slug-links ul {
  margin-left: 0;

}

.page-sitemap .panel-col-top .pane-menu-tree li:hover > a,
.page-sitemap .panel-col-middle .pane-menu-tree li:hover > a,
.page-sitemap .panel-col-bottom .pane-slug-links li:hover > a {
  text-decoration: none;
}

.page-sitemap .panel-col-top a.active-trail {
  padding: 2px 0 0;
  background: none;
}

/* ======================================== */
/*  Tabbed Menus                            */
/* ======================================== */

.tabbed-menu ul,
ul.ui-tabs-nav {
  padding: 4px 8px 0;
  border-bottom: 1px solid #bbb; 
}

.tabbed-menu li,
.ui-tabs-nav li {
  display: inline-block;
  margin-right: 4px;
  position: relative;
}

.tabbed-menu li a,
.ui-tabs-nav li a {
  display: inline-block;
  padding: 3px 8px 4px;
  top: 1px;
  position: relative;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  border: none;
  font-weight: bold;
}

.tabbed-menu li a.active,
.tabbed-menu li a:hover,
.ui-tabs-nav li.ui-state-active a {
  border: 1px solid #bbb;
  border-bottom: none;
  background: #eff1f3;
}

.tabbed-menu a.active:link,
.tabbed-menu a.active:visited,
.ui-tabs-nav .ui-state-active a:link,
.ui-tabs-nav .ui-state-active a:visited  {
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.tabbed-menu li a:hover,
.ui-tabs-nav li a:hover {
  text-decoration: underline;
}


.tabbed-menu li a:active,
.ui-tabs-nav li a:active {
  outline: none;
}

/* ----- / Hide content related to tabbed menu ----- */

.ui-tabs-hide {
  display: none;
}
