/* ======================================== */
/*  ACTIVE + HOVER STYLES                   */
/* ======================================== */

.panel-col-top a.active-trail,
.panel-col-left a.active-trail {
  background: url(../images/back-menu-active.png) left top repeat-x;
  font-weight: bold;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  display: inline-block;
  padding: 2px 6px 3px;
  margin: 0;
}

.panel-col-top a.active-trail:link,
.panel-col-left a.active-trail:link,
.panel-col-top a.active-trail:visited,
.panel-col-left a.active-trail:visited {
  color: #fff;
  border: none;
  text-decoration: none;
}

.panel-col-top li:hover>a {
  background: transparent url(../images/back-menu-hover.png) left top repeat-x;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  display: inline-block;
  padding: 2px 6px 3px;
  border: none;
  margin: 0;
}

.panel-col-top li:hover>a:link,
.panel-col-top li:hover>a:visited {
  color: #fff;
}

.panel-col-left .pane-menu-tree li a:hover {
  text-decoration: none;
}

/* ----- / Secondary Menus ----- */

#region-secondary-menu {
  background: transparent url(../images/back-menu-secondary.png) left top repeat;
  background: rgba(148,170,185,0.15);
}

  #region-secondary-menu ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    line-height: 30px;
    overflow: hidden;
  }
  
  #region-secondary-menu ul>li {
    float:right;
    list-style: none;
    padding: 0 10px 0 6px;
  }
  
  #region-secondary-menu a:link,
  #region-secondary-menu a:visited {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
  }
  
  #region-secondary-menu a:hover {
    border-bottom: 1px dotted #fff;
    margin-bottom: -1px;
  }
  
  
/* ----- / Region Menus ----- */

#region-city-menu {
  clear: both;
  overflow: hidden;
  background: transparent url(../images/back-menu-region.png) 100% 14px no-repeat;
}

#region-city-menu ul {
  float: right;
  margin: 14px 0 0;
  width: 316px;
}

#region-city-menu ul>li {
    float: left;
    line-height: 30px;
    width: 79px;
    text-align: center;
    list-style: none;
  }
  
  #region-city-menu a:link,
  #region-city-menu a:visited {
    color: #fff;
    text-decoration: none;
  }
  
  #region-city-menu a:hover {
    border-bottom: 1px dotted #fff;
    margin-bottom: -1px;
  }
  
/* ----- / Main Menus ----- */

#region-main-menu {
  clear: both;
  float: left;
}

  #region-main-menu a:link,
  #region-main-menu a:visited {
    color: #fff;
    text-decoration: none;
    border: none;
  }

  #region-main-menu ul {
    margin: 18px 0 0;
    width: 940px;
  }
  
  #region-main-menu li {
    margin-right: 6px;
    display: inline;
  }

  #region-main-menu a {
    display: inline-block;
    padding: 3px 10px 5px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
  }
  
  #region-main-menu a.active,
  #region-main-menu a.active-trail {
    background: url(../images/back-menu-main-active.png) left top repeat-x;
    font-weight: bold;
  }

  #region-main-menu a:hover {
    background: url(../images/back-menu-main-hover.png) left top repeat-x;
  }

/* ======================================== */
/*  SUB + REGIONAL MENUS                    */
/* ======================================== */


#main-content #region-title-menu ul {
  padding-top: 10px;
}

#main-content #region-title-menu li {
  display: inline;
  margin-left: 2px;
}

.panel-col-top li a {
  display: inline-block;
  padding: 2px 0px 0;
  margin: 0 6px 3px;
}

/* ----- / Submenu ----- */
.pane-menu-tree .pane-content {
  background: transparent url(../images/back-groove.png) left top repeat-x;
  padding-top: 10px;
}

.pane-menu-tree ul {
  padding-left: 6px;
}

.pane-menu-tree li {
  list-style-type: none;
}


.pane-menu-tree li a:link,
.pane-menu-tree li a:visited {
  padding-left: 8px;
  border: none;
  margin-bottom: 6px;
  text-decoration: underline;
  display: inline-block;
}

.pane-menu-tree li li {
  padding-left: 12px;
}

/* ----- / Regional submenu ----- */
.pane-region-menu ul {
}
