/* --------------- 
   Colours

   :link : #034582
   :visited :
   em,i : #f0e2a6
  
/* --------------- */

body,
.mceContentBody {
  font:13px/18px "Helvetica Neue",Arial,sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 0.6em;
}

.field-content-value ul, 
.field-content-value ol,
.pane-page-content li {
  margin-bottom: 0.5em;
  margin-left: 20px;
}

.field-content-value ul>li,
.field-content-value ol>li,
.pane-page-content li {
  margin-bottom: 0.2em;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  line-height: 30px;
  text-transform: capitalize;
}

h2 {
  font-size: 18px;
  line-height: 20px;
  margin: 1.5em 0 0.2em;
  font-weight: bold;
  color: #222;
}

  li>h2:first-child,
  .view-static-pages .field-content-value>h2:first-child {
    margin-top: 0;
  }
  
h3 {
  font-size: 14px;
  margin: 1em 0 0.2em;
  font-weight: bold;
  color: #222;
}

  #footer-regions h3,
  #footer-regions h2 {
    font-size: 14px;
    margin-bottom: 1em;
  }

.field-content-value em, .field-content-value i {
  font-style: normal;
  background: #f6ff00;
  background: rgba(246,255,0,0,5);
  padding-left: 1px;
  padding-right: 1px;
}

quote {
  font-style: italic;
}

strong, bold {
  font-weight: bold;
}

/* ------ / Link typography ------ */

a:link, a:visited, li a.active {
  color: #034582;
  text-decoration: none;
  border-bottom: 1px dotted #034582;
  margin-bottom: -1px;
}

a:hover,
li a.active:hover {
  border: none;
  margin-bottom: 0;
}

.field-content-value a[href$='.pdf'],
.field-content-value a[href$='.doc'],
.field-content-value a[href$='.docx'],
.field-content-value a[href$='.tif'],
.field-content-value a[href$='.tiff'],
.field-content-value a[href$='.png'],
.field-content-value a[href$='.jpg'],
.field-content-value a[href$='.jpeg'],
.field-content-value a[href$='.zip'],
.field-content-value a[href$='.ppt'],
.field-content-value a[href$='.pptx'],
.field-content-value a[href$='.rtf'],
.field-content-value a[href$='.txt'],
.pane-sidebar-content a[href$='.pdf'],
.pane-sidebar-content a[href$='.doc'],
.pane-sidebar-content a[href$='.docx'],
.pane-sidebar-content a[href$='.tif'],
.pane-sidebar-content a[href$='.tiff'],
.pane-sidebar-content a[href$='.png'],
.pane-sidebar-content a[href$='.jpg'],
.pane-sidebar-content a[href$='.jpeg'],
.pane-sidebar-content a[href$='.zip'],
.pane-sidebar-content a[href$='.ppt'],
.pane-sidebar-content a[href$='.pptx'],
.pane-sidebar-content a[href$='.rtf'],
.pane-sidebar-content a[href$='.txt'] {
  padding-left: 17px;
  background: transparent url(../images/16x16/Document-16x16.png) 0% 50% no-repeat;
}

.field-content-value a[target=_blank],
.pane-sidebar-content a[target=_blank],
#footer-regions a[target=_blank] {
  padding-left: 19px;
  background: transparent url(../images/16x16/Out-16x16.png) 0% 50% no-repeat; 
}

.region-link a:link,
.region-link a:visited {
  color: #fff;
  border: none;
  font-size: 11px;
  line-height: 12px;
}

.region-link a:hover,
.region-link a:active {
  text-decoration: underline;
}

/* ----- / Table styles ----- */
table {
  width: 99%;

}

table td {
  vertical-align: top;
  padding: 0;
  margin-bottom: 0;
}

.layout-table {
  zoom: 1;
}

table.layout-table {
  border: 0;
}

.field-content-value table img {
  border: none;
  margin: 0;
  display: block;
}

.mceContentBody td {
  font-size: 13px;
}

/* ----- / Submenu ----- */
.pane-menu-tree ul li {
  font-size: 11px;
  line-height: 13px;
}

/* ------ / REGION TITLE ----- */

#region-title-menu h1 {
  font-weight: normal;
  font-size: 18px;
}


/* ----- / Sidebar ----- */
#news-related-stories .created-date {
  font-style: italic;
  font-size: 11px;
}

#news-related-stories strong {
  font-weight: normal;
}

/* ----- / News Slider ----- */
#news-top-news .title a:link,
#news-top-news .title a:visited,
#events-top-event .title a:link,
#events-top-event .title a:visited {
  border: none;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
}

#news-top-news .view-node a:link,
#news-top-news .view-node a:visited,
#news-top-news .view-footer a:link,
#news-top-news .view-footer a:visited,
#events-top-event .view-node a:link,
#events-top-event .view-node a:visited,
#events-top-event .view-footer a:link,
#events-top-event .view-footer a:visited {
  color: #fea92f;
  font-weight: bold;
  border-bottom: 1px dotted #fea92f;
  line-height: 18px;
}

#news-top-news .view-node a:hover,
#news-top-news .view-footer a:hover,
#events-top-event .view-node a:hover,
#events-top-event .view-footer a:hover {
  border-bottom: none;
  padding-bottom: 1px;
}

#events-top-event .address span,
#events-top-event .field-date-value span {
  color: #fff;
  font-weight: bold;
  padding-bottom: 1px;
} 

/* ----- / Metadata ------ */

.views-list .date-display-single,
.views-list .date-display-start,
.views-list .date-display-end,
.views-list .date-display-separator,
.views-list .location {
  font-size: 14px;
  margin-bottom: 6px;
}

.views-list .location em,
.views-list .locality {
  font-style: normal;
  margin-right: 6px;
}

.views-list .locality:after {
  content: ", ";
}

/* ----- / Footer ----- */
#footer-regions,
#footer-regions h2,
#footer-regions h3,
#footer-regions p,
#footer-regions li {
  color: #fff;
}

#footer-regions a:link,
#footer-regions a:visited {
  color: #47a7ff;
  font-weight: bold;
}